<!DOCTYPE html>
<head>

    <link rel="stylesheet" href="/css/style.css">
    
    <title>

    </title>
</head>
<body>
    {{>header}}
    <h3>{{title}}</h3>
    <p>{{errormsg}}</p>
    {{>footer}}

    {{!-- <h3>dsds</h3> --}}

</body>


</html>