<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="./css/style.css">

    <title>

    </title>
</head>
<body>
    {{>header}}
    <h3>{{title}}</h3>
    <img src="./img/a.jpg" alt="">
    <p>Created by {{name}}</p>
    {{>footer}}
</body>


</html>