<!DOCTYPE html>
<head>
    <title>
        Weather
    </title>
    <link rel="icon" href="/img/weather.jpg">

    <link rel="stylesheet" href="/css/style.css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-S7MG436T7K"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-W4C1ZE98WZ');
</script>
</head>
<body>
    <div class="main-content">
        {{>header}}

        <p>Use this site to get your weather!</p>
        <form action="">
            <input type="text" placeholder="Location">
            <button>Search</button>
        </form>
        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>
    {{>footer}}

    {{!-- <h3>dsds</h3> --}}
    <script src="./js/app.js"></script>

</body>


</html>